.home-panel{
    font-size:16px;
    .panel-header{
        position:fixed;
        top:0;
        left:0;
        right:0;
        height:50px;
        line-height:50px;
        background-color:#649e63;
        z-index:1000;

        .section-input{
            text-align:center;
            height:32px;
            line-height:32px;
            margin-top:9px;


            &>input{
                width:86%;
                padding:0 40px 0 16px;
                margin:0;
                border:none;
                height:32px;
                border-radius:16px;
                outline:none;
            }
            .search-btn{
                width:32px;
                height:32px;
                border:none;
                position:absolute;
                right:32px;
                border-radius:16px;
                background-color:#fff;
                top:9px;
                outline:none;
                color:#649e63;
            }
        }
    }
    .panel-main{
        .section1{
            display:table;
            width:100%;
            margin:10px 0;
            border-bottom:1px solid #ccc;

            .items{
                display:table-cell;
                text-align:center;
                padding:8px 0;

                .items-icon{
                    background-color:#ccc;
                    display:inline-block;
                    border-radius:30px;
                    width:60px;
                    height:60px;
                    position:relative;
                    background-color:#eee;
                    
                    img{
                        position:absolute;
                        left:50%;
                        top:50%;
                        width:40px;
                        height:40px;
                        margin:-20px 0 0 -20px;
                    }
                }
                .name{
                    margin-top:6px;
                }

                &.disabled{
                    opacity:0.5;
                }
            }
        }
        .section2{
            overflow:hidden;
            margin:10px 0;
            padding-bottom:10px;
            .items{
                float:left;
                width:25%;
                box-sizing:border-box;
                margin:4px 0;
                text-align:center;

                .items-icon{
                    width:72px;
                    height:72px;
                    background-color:#649e63;
                    text-align:center;
                    display:inline-block;
                    border-radius:6px;

                    .icon{
                        font-size:24px;
                        margin:10px 0;
                        color:#fff;
                    }
                    .name{
                        margin-top:6px;
                        color:#fff;
                        font-size:14px;
                    }
                }
            }
        }
    }
    .panel-foot{
        &>.title{
            border-bottom:1px solid #ccc;

            .more-btn{
                float:right;
                color:#333;
                text-decoration:none;
                outline:none;
            }
        }
        .recommend-panel{
            
        }
    }
}
