/* 里程管家 css样式 */
html,
body {
  font-family: "Consolas", "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  color: #333333;
}
@media screen and (max-width: 2048px) {
  .mileager .mileager-header {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #649e63;
    text-align: center;
    padding: 0 90px 0 50px;
    color: #fff;
    z-index: 1000;
    font-weight: 800;
  }
  .mileager .mileager-header.detail {
    padding: 0 50px;
    line-height: 50px;
  }
  .mileager .mileager-header .search-panel {
    height: 32px;
    line-height: 24px;
    position: relative;
    top: 9px;
    background-color: #fff;
    text-align: left;
    border-radius: 16px;
    padding: 0 10px 0 14px;
  }
  .mileager .mileager-header .search-panel input.search-input {
    width: 76%;
    height: 32px;
    line-height: 32px;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #333;
    font-weight: normal;
  }
  .mileager .mileager-header .search-panel .search-btn {
    display: inline-block;
    vertical-align: bottom;
    color: #649e63;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    float: right;
  }
  .mileager .mileager-header .search-panel .search-btn:active {
    background-color: #aaa;
  }
  .mileager .mileager-header .header-btn {
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    border-radius: 16px;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
  }
  .mileager .mileager-header .header-btn.right {
    right: 10px;
  }
  .mileager .mileager-header .header-btn.left {
    left: 10px;
  }
  .mileager .mileager-header .header-btn.right-l {
    right: 48px;
  }
  .mileager .mileager-header .header-btn:active {
    background-color: #ddd;
  }
  .mileager .mileager-header .header-btn.focus {
    color: #f7d992;
  }
  .mileager .mileager-filter {
    position: fixed;
    width: 100%;
    height: 42px;
    z-index: 1001;
    line-height: 42px;
    top: 50px;
    left: 0;
    background-color: #c7e8c6;
    display: none;
  }
  .mileager .mileager-filter .filter-outer {
    width: 100%;
    display: table;
  }
  .mileager .mileager-filter .filter-outer .filter-item {
    display: table-cell;
    text-align: center;
    width: 33%;
  }
  .mileager .mileager-filter .filter-outer .filter-item .glyphicon {
    font-size: 12px;
  }
  .mileager .mileager-filter:after {
    position: absolute;
    width: 0;
    height: 0;
    right: 54px;
    top: -10px;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c7e8c6;
    border-top: none;
  }
  .mileager .mileager-footer {
    position: fixed;
    width: 100%;
    height: 42px;
    z-index: 1000;
    line-height: 42px;
    bottom: 0;
    left: 0;
    background-color: #ccc;
  }
  .mileager.page {
    padding: 50px 10px;
  }
  .mileager .mileager-main .product-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mileager .mileager-main .product-list li {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
  }
  .mileager .mileager-main .product-list .product-item {
    display: block;
    overflow: hidden;
    color: #333333;
    text-decoration: none;
    outline: none;
  }
  .mileager .mileager-main .product-list .product-item span.tag-panel {
    display: block;
  }
  .mileager .mileager-main .product-list .product-item span.tag-panel .tag {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    border-radius: 10px;
    color: #fff;
  }
  .mileager .mileager-main .product-list .product-item span.tag-panel .tag.ca {
    background-color: #f5afaf;
  }
  .mileager .mileager-main .product-list .product-item span.tag-panel .tag.cz {
    background-color: #9bc6ea;
  }
  .mileager .mileager-main .product-list .product-item span.title {
    display: block;
    margin: 6px 0;
    word-break: break-all;
  }
  .mileager .mileager-main .product-list .product-item span.mileage {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    text-align: right;
    color: #235c22;
  }
  .mileager .mileager-main .product-list .product-item span.mileage .mileage-unit {
    font-size: 14px;
    color: #333333;
  }
  .mileager .mileager-main .product-list .product-item span.other {
    display: block;
    text-align: right;
  }
  .mileager .mileager-main .product-list .product-item span.other .items {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    margin-left: 8px;
  }
  .mileager .mileager-main .product-list .product-item span.other .items .items-btn {
    display: inline-block;
    vertical-align: baseline;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #ed8055;
    border-radius: 11px;
  }
  .mileager .mileager-main .product-list .product-item span.other .items .items-btn span {
    top: 3px;
  }
  .mileager .mileager-main .product-list img {
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    float: left;
    margin-right: 10px;
  }
  .mileager .side-page {
    position: fixed;
    z-index: 1200;
    width: 80%;
    height: 100%;
    background-color: #eee;
    top: 0;
    right: -90%;
    box-shadow: 0 0 10px #000;
    padding: 16px;
    color: #333;
    overflow: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  .mileager .side-page.show {
    right: 0;
  }
  .mileager .mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 1100;
    display: none;
  }
  .mileager .list-panel {
    margin-bottom: 10px;
    background-color: #fff;
  }
  .mileager .list-panel .header {
    border-bottom: 1px solid #dfece1;
    line-height: 1.6em;
    padding: 10px;
  }
  .mileager .list-panel .header .ctrl-panel {
    float: right;
    font-size: 14px;
  }
  .mileager .list-panel .content {
    padding: 10px;
    line-height: 1.6em;
  }
  .mileager .list-panel .content .content-input {
    height: 32px;
    line-height: 28px;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .mileager ul.select-panel {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .mileager ul.select-panel li {
    float: left;
    margin: 2px;
    width: 40%;
    height: 30px;
    line-height: 30px;
    padding: 4px;
    background-color: #d4ead4;
    text-align: center;
    box-sizing: content-box;
  }
  .mileager .side-btn {
    height: 38px;
    line-height: 38px;
    padding: 2px 0;
    background-color: #649e63;
    color: #fff;
    text-align: center;
    box-sizing: content-box;
  }
  .mileager .side-btn:hover {
    background-color: #a3d8ac;
  }
  .mileager .side-btn:active {
    background-color: #a3d8ac;
  }
  .mileager .img-scroller {
    width: 100%;
    height: 30vh;
    background-color: #ccc;
    overflow: hidden;
    position: relative;
  }
  .mileager .img-scroller .inner {
    height: 100%;
    width: 10000px;
  }
  .mileager .img-scroller .pt-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 20px;
    text-align: center;
    opacity: 0.5;
  }
  .mileager .img-scroller .pt-panel .pt {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #000;
    margin: 0 4px;
  }
  .mileager .detail-panel {
    margin: 16px 0;
    line-height: 24px;
    border-bottom: 1px solid #649e63;
  }
  .mileager .detail-panel .airline {
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    padding: 0 10px;
    background-color: #ccc;
    float: right;
    border-radius: 10px;
    color: #fff;
  }
  .mileager .detail-panel .airline.ca {
    background-color: #f5afaf;
  }
  .mileager .detail-panel .airline.cz {
    background-color: #9bc6ea;
  }
  .mileager .detail-panel .content {
    margin: 16px 0 30px;
  }
  .mileager .detail-panel .content .mileage {
    font-size: 24px;
    color: #235c22;
    float: right;
  }
  .mileager .detail-panel .content .mileage .unit {
    font-size: 16px;
  }
  .mileager .detail-panel .content .acc {
    padding-right: 16px;
  }
  .mileager .detail-panel .content .acc .glyphicon {
    color: #ed8055;
    top: 3px;
  }
  .mileager .detail-panel .content .acc .zhi {
    font-size: 12px;
    line-height: 14px;
    width: 14px;
    height: 14px;
    color: #ed8055;
    border: 1px solid #ed8055;
    text-align: center;
    display: inline-block;
    box-sizing: content-box;
  }
  .mileager .product-panel .product-img {
    width: 100%;
  }
}
