/* 里程管家 css样式 */
html,
body {
  font-family: "Consolas", "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  color: #333333;
}
@media screen and (max-width: 2048px) {
  .mileager .mileager-header {
    position: fixed;
    width: 100%;
    height: 42px;
    top: 0;
    left: 0;
    background-color: #649e63;
    text-align: center;
    line-height: 42px;
    color: #fff;
    z-index: 1000;
    font-weight: 800;
  }
  .mileager .mileager-header .header-btn {
    position: absolute;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #649e63;
    background-color: #fff;
    border-radius: 15px;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
  }
  .mileager .mileager-header .header-btn.right {
    right: 15px;
  }
  .mileager .mileager-header .header-btn.left {
    left: 15px;
  }
  .mileager .mileager-header .header-btn:active {
    background-color: #ddd;
  }
  .mileager .mileager-footer {
    position: fixed;
    width: 100%;
    height: 42px;
    z-index: 1000;
    line-height: 42px;
    bottom: 0;
    left: 0;
    background-color: #ccc;
  }
  .mileager.page {
    padding: 55px 15px;
  }
  .mileager .mileager-main .product-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mileager .mileager-main .product-list li {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
  }
  .mileager .mileager-main .product-list .product-item {
    display: block;
    overflow: hidden;
    color: #333333;
    text-decoration: none;
    outline: none;
  }
  .mileager .mileager-main .product-list .product-item span.tag-panel {
    display: block;
  }
  .mileager .mileager-main .product-list .product-item span.tag-panel .tag {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    border-radius: 10px;
    color: #fff;
    background-color: #f5afaf;
  }
  .mileager .mileager-main .product-list .product-item span.title {
    display: block;
    margin: 6px 0;
    word-break: break-all;
  }
  .mileager .mileager-main .product-list .product-item span.mileage {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    text-align: right;
    color: #235c22;
  }
  .mileager .mileager-main .product-list .product-item span.mileage .mileage-unit {
    font-size: 14px;
    color: #333333;
  }
  .mileager .mileager-main .product-list .product-item span.other {
    display: block;
    text-align: right;
  }
  .mileager .mileager-main .product-list .product-item span.other .items {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    margin-left: 8px;
  }
  .mileager .mileager-main .product-list .product-item span.other .items .items-btn {
    display: inline-block;
    vertical-align: baseline;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #ed8055;
    border-radius: 11px;
  }
  .mileager .mileager-main .product-list .product-item span.other .items .items-btn span {
    top: 3px;
  }
  .mileager .mileager-main .product-list img {
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    float: left;
    margin-right: 10px;
  }
}
