.panel{
	
}
.panel .panel-header{
	width: auto;
	height: auto;
	background-color: #99CC99;
}
.panel .panel-header .cycle{
	width: 100px;
	height: 100px;
	background-color: #999;
	border-radius: 50px;
	position: relative;
	top: 20%;
	left: 50%;
}
.panel .section1{
	border-bottom: 1px solid #ccc;

}
.panel .section1 .section-input{
	padding: 20px;
}
.panel .section1 .choose-airline .china{

}
.panel .section1 .choose-airline .south{

}
.panel .section1 .container .airline-item{
	text-align:center;
	padding-bottom: 10px;
}
.panel .section1-color{
	width: 40px;
	height: 40px;
	background-color: #ccc;
	margin: 10px auto 10px;
	padding: 30px;
}
.panel .section1-color.red{
	background-color: #CCFFCC;
}
.panel .section1-color.blue{
	background-color:#00f;
}
.panel .section2 .container .item{
	text-align: bottom;
}
.panel .section2 .container .item .item-icon{
	width:40px;
	height:40px;
}
.panel .section2-color{
	padding-top:10px;
	width: 60px;
	height: 60px;
	margin: 10px auto 10px;
	background-color: #CCCCCC;
	padding: 5px;
	text-align: bottom;
	font-size: 5px;
	line-height: 5px;
}
.panel .section2{
	border-bottom: 1px solid #ccc;
}
.panel .footer-recommend{
	border-bottom: 1px solid #ccc;
	padding: 10px;
}
.panel .footer-recommend .more{
	text-align: right;
}